#HeadLine{
 font-family:Aerial,Helvetica,sans-serif;
 psotion:absolute;
 left:30px;
}
#BriefBioTitle{
 font-family:Aerial,Helvetica,sans-serif;
}
#HeadShot{
 width: 25%;
 float: right;
}
#BriefBio{
 width: 60%;
 float: left;
}
