h3{
	color:royalblue;
}


#Container{
	color:royalblue;
	background-color:seashell;
	display: inline;
	margin:100%;
}

#BrifBio{
	font-family:Aerial,Helvetica,sans-serif;
	background-color:seashell;
	float: right
	column-width:20%;
	margin:10%;
}

#HeadShot{
	float: right;
	background-color:seashell;
	margin:0%;
}

}

#Links{
	width: 60%;
}

footer{

}