h3{
	color:royalblue;
	background-color:seashell;
}


#Container{
	color:royalblue;
	background-color:seashell;
	display: inline;
	width: 200px;
	margin:auto;
}

#BrifBio{
	font-family:Aerial,Helvetica,sans-serif;
	background-color:seashell;
	float: right;
}

#HeadShot{
	float: right;
	background-color:seashell;
}

}

#Links{
	width: 60%;
}

footer{

}